<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="/app/workspace/src/robot_description/urdf/wheellegbot/common_inertia.xacro" />
    <!-- 声明 base 模块 -->
    <xacro:macro name="base_xacro" params="xyz">
        <link name="base_footprint" />
        <link name="base_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="${xyz}" />
                </geometry>
                <material name="blue">
                    <color rgba="0.1 0.1 1.0 0.5" />
                </material>
            </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
              <box size="${xyz}" />
            </geometry>
            <material name="blue">
              <color rgba="0.1 0.1 1.0 0.5" />
            </material>
        </collision>

        <xacro:box_inertia m="2" w="0.27" d="0.23" h="0.19" />
        </link>

        <joint name="joint_name" type="fixed">
            <origin xyz="0.0 0.0 0.151" rpy="0.0 0.0 0.0"/>
            <parent link="base_footprint"/>
            <child link="base_link"/>

        </joint>
    </xacro:macro>
</robot>