<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="/app/workspace/src/robot_description/urdf/wheellegbot/common_inertia.xacro" />
    <!-- 声明 camera 模块 -->
    <xacro:macro name="laser_xacro" params="xyz">
        <!-- 雷达支撑杆 -->
        <link name="laser_cylinder_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <cylinder radius="0.01" length="0.04"/>
                </geometry>
            </visual>
            <material name="black">
                <color rgba="0 0 0 0.5" />
            </material>
        </link>

        <!-- 雷达 -->
        <link name="laser_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <cylinder radius="0.02" length="0.03"/>
                </geometry>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <cylinder radius="0.02" length="0.03"/>
                </geometry>
            </collision>
            <material name="black">
                <color rgba="0 0 0 0.5" />
            </material>

            <xacro:cylinder_inertia m="0.050" r="0.02" h="0.03" /> 
        </link>
        <joint name="laser_joint" type="fixed">
            <parent link="laser_cylinder_link" />
            <child link="laser_link" />
            <origin xyz="0.0 0.0 0.02" />
        </joint>

        <joint name="laser_cylinder_joint" type="fixed">
            <parent link="base_link" />
            <child link="laser_cylinder_link" />
            <origin xyz="${xyz}" />
        </joint>
    </xacro:macro>
</robot>